[submodule "form-rhf-zod"]
	path = form-rhf-zod
	url = https://github.com/CodeVoyager007/form-rhf-zod.git
[submodule "BMI-Calculator-App"]
	path = BMI-Calculator-App
	url = https://github.com/CodeVoyager007/BMI-Calculator-App.git
[submodule "City-Skyline"]
	path = City-Skyline
	url = https://github.com/CodeVoyager007/City-Skyline.git
[submodule "Task-Notifier"]
	path = Task-Notifier
	url = https://github.com/CodeVoyager007/Task-Notifier.git
[submodule "Login-Form-Template"]
	path = Login-Form-Template
	url = https://github.com/CodeVoyager007/Login-Form-Template.git
[submodule "Color-Palette-Generator"]
	path = Color-Palette-Generator
	url = https://github.com/CodeVoyager007/Color-Palette-Generator.git
[submodule "Survey-Form-Template"]
	path = Survey-Form-Template
	url = https://github.com/CodeVoyager007/Survey-Form-Template.git
[submodule "Temperature-Converter"]
	path = Temperature-Converter
	url = https://github.com/CodeVoyager007/Temperature-Converter.git
[submodule "Snake-Game"]
	path = Snake-Game
	url = https://github.com/CodeVoyager007/Snake-Game.git
[submodule "Quiz-App"]
	path = Quiz-App
	url = https://github.com/CodeVoyager007/Quiz-App.git
[submodule "tip-calculator-app"]
	path = tip-calculator-app
	url = https://github.com/CodeVoyager007/tip-calculator-app.git
