body {
    font-family: Arial, sans-serif;
    background:url("https://img.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color:#CB3066;
}

p {
    text-align: center;
    color:white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #CB3066;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:#5CB3FF ;
}
